[Desktop Entry]
Type=Application
Name=brainfuck
Exec=brainfuck
Comment=A brainfuck interpreter which is simple and a little fast.
Icon=brainfuck
Categories=Development;
Terminal=true
